$color-primary:#ff6060;
$color-secondary: #863535;
$color-tertiary:white;
$grid-background-dark: #F6F6F6;
$grey: #C0C0C0;
$grid-background-light: white;
$footer-backgroud-color: black;;
$font-family: 'Montserrat', sans-serif;
$link-margin-right: 10px;
$link-margin-left: 20px;
