@import"../styles/variable/variable.scss";

.aboutContainer{
    color: $color-primary; //set color
    font-family: $font-family;
    font-size: 20px;
    font-weight: 400;
    padding-inline: 3rem;
}
