@import"../styles/variable/variable.scss";

.apartment {
  background-image: linear-gradient(to top, $color-secondary, $color-primary);
  border-radius: 5px;
  overflow: hidden; /* Ajout de cette ligne pour que l'image épouse la forme de la carte */
  position: relative; /* Ajout de cette ligne pour positionner le titre par rapport à la carte */
  max-width: 340px;
  max-height: 340px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .apartmentSub {
    position: absolute; /* Ajout de cette ligne pour positionner le titre par rapport à la carte */
    bottom: 0; /* Ajout de cette ligne pour aligner le titre en bas de la carte */
    left: 0; /* Ajout de cette ligne pour aligner le titre à gauche de la carte */
    color: $color-tertiary;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    font-size: 18px;
    text-decoration: none;
    width: 90%; /* Ajout de cette ligne pour que le titre prenne toute la largeur de la carte */
    background: rgba(0, 0, 0, 0.3); /* Ajout de cette ligne pour ajouter un fond semi-transparent au titre */
  }

  &:hover .apartmentSub {
    /* Ajout de cette ligne pour afficher le titre au survol de la carte */
    display: block;
  }

  &:hover img {
    /* Ajout de cette ligne pour assombrir légèrement l'image au survol de la carte */
    filter: brightness(80%);
  }
}
