body {
    margin: 0;
    padding: 0;
  }
  

.footer{
    background-color: black;
    color: white;
    padding: 50px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 3rem;
    width: 100%;
}

.footerLogo{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footerText{
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}